/* Reset */
*{
    margin: 0;
    padding: 0;
}
body{
    background:#F28919; 
    font-family: 'Montserrat', sans-serif
}
/*Estilos header*/
header.hero{
    background: #F28919;
    color: #fff;
    height: 165px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
}
/*Estilos de menu*/
.caract {
    text-align: center;
    color: #666;
    margin-top: 60px;
    height: 150px;
}
    
.caract .fa{
    font-size: 2em;
    color: #fff;
    margin: 10px;
    width: 70px;
    height: 70px;
    border: 6px solid #1970F2;
    line-height: 2.1em;
    border-radius: 50%;
    background: #139;
}
    
.caract .titulo{
    font-size: 1.5em;
}
 
.caracteristicas {
    padding: 80px. 0;
    overflow: hidden;
}
  
.caracteristicas .caract{
    width: 25%;
    float: left;
}

.caract:hover{
    background: rgba(195,65,48,0.8);
    color: aliceblue;
    border-radius: 15px;
}
/*termina estilos de menu*/

/*Estilos de contenido*/
.contenido{
    padding: 0 20%;
}
section.conte1{
    background: #F28919;
    color: #fff;
    height: 60%;
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5em;
}

section.video{
    background: #F28919;
    color: #fff;
    height: 30%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
    }

section.conte2{
    background: #F28919;
    color: #fff;
    height: 60%;
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.conte2>p{
    padding: 0 20%;
}

/*Estilos de galeria*/
section.personaje{
    box-sizing: border-box;
    padding: 5%;
    height: 40%;
    width: 49%;
    text-align: center;
    font-size: 1.6em;
    display: inline-block;
}

section.personaje img{
    max-width: 100%;
}


/*Enlaces*/
a{
    text-decoration: none;
    color: #249;
}
a:hover{
    color: #fff;
}

/*footer*/

footer{
    text-align: center;
    margin: 0 auto;
    height: 20px;
    background: #1970F2;
    width: 100%;
}

/* Responsive */

/*Tablets*/

@media (max-width: 800px){
    
    header.hero{
        background: #fff;
    }
    
    header.hero h1{
        font-size: 2em;
    }
    
    header.hero h1 .fa{
        font-size: 2em;
    }
    .caracteristicas .caract{
        width: 50%;
    }
}

/* MOVILES*/

@media (max-width: 600px) {
    .caracteristicas .caract{
    width: 100%;
    }
}

